

/****** Polices responsive ******/

  html {
    font-size: 100%;
  }

  #accueil {
    font-size: 1.4rem;
  }

  #tableau {
    font-size: 1.4rem;
  }

  #contact {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  #p1 {
    font-size: 1rem;
  }   


  #p2 {
    font-size: 1rem;
  }

  #p3 {
    font-size: 1rem;
  } 

  .menu {
    font-size: 1rem;
  }

  #oops {
    font-size: 5rem;
  }
/* ****************** */


/* *******Logo et slogan côte à côte***** */
  .hair {
    display: flex;
  }

  .slogan {
    flex: 1;
    font-size: 1.4rem;
    text-align: center;
  }

  /* ************************************* */


  .logojarditou {
    width: 200pt;
    height: auto;
    display: block;
  }

  .logopromo {
    width: 100%;
    height: auto;
	  display: block;
  } 


  nav {
    background-color: black;
    text-indent: 10pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
  }

  a{
    color: white;
  }

  .menu {
    width: 100%;
    display: inline-block;
    padding: 10px 0px 10px 0px; 
  }        


/**********Ceci permet d'avoir 2 div côte à côte de même hauteur *************/
  .row {
    display: flex;
    margin-top: 10pt;
    margin-bottom: 10pt;
  }

  .col .col2 {
    flex: 1; 
  }

  .col2 {
    background-color: silver;
    width: 100%;
    height: auto;
	  display: block;
  }
/* *************************************************************************** */

  .tbl {
    padding-top: 20px;
    padding-bottom: 20px;
  }

.sujet {
  visibility: hidden;
}

  .error {
    width: 100%;
    height: auto;
    display: block;
  }

/* ****Media Quieries: Responsive**** */

  @media only screen and (min-width: 768px) {
  /* tablettes et ordinateurs */
  }
  @media only screen and (max-width: 767px) {
  /* smartphone */
  }
  @media only screen and (max-width: 767px) and (orientation: portrait) {
  /* smartphone en mode portait */
  }

  /* ******************************** */



  @media only screen and (max-device-width: 767px) {
    .col2 {
      display: none;
    }
    .menu {
      display:grid;
    }
  }



