body{
    background: #000000;
    overflow:hidden;
    font-size: 2rem;
    color:#0AA0F6;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: #5a5a5a;
    font-weight: bold;
  }

  a:link 
  { 
   text-decoration:none; 
  } 

a{
    color:rgb(255, 255, 255);
    text-shadow: #2c258f;
}

  canvas{
      position:fixed;
      top:0;
      left:0;
      z-index: -1;
  }

  .logoafpa{
    position: absolute;
    margin-top: 600px;
    opacity: 0.2;
    width:5%;
    height: auto;
  }

  .button1 {
    background-color: #000769;
    border: none;
    color: #0AA0F6;
    padding: 10px 10px;
    text-align: center;
    border-style:outset;
    border-color: #0AA0F6;
    text-decoration: thistle;
    display: inline-block;
    font-size: 3rem;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1:hover{
    background-color: #0AA0F6;
    color: #000769;
  }


  fieldset{
 text-align: center;
    }


  ul{
      text-align:unset;
      text-shadow: #2c258f;
  }

  .row{
      display: flex;
      justify-content: center;
      text-align: center;
  }

  aside{
      flex: 1;
  }

  .logocss{
    margin-left: 200px;
    opacity: 0.9;
    width: 15%;
    height: auto;
    border-style:groove;
    border-color: #0962EA;
    animation: pull 3s infinite;
    animation-direction: alternate;
  }

  .logocss2{
    margin-left: 150px;
    opacity: 0.9;
    width: 50%;
    height: auto;
    border-style:groove;
    border-color: #0962EA;
}
@keyframes pull{
  0% {
    top: 0%;
  }
  50% {
    top: 97%;
  }
  100% {
    top: 0%;
  }
}

/* *** Animated legend *** */

#legend{
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  position: relative;
  background-color: transparent;
  color: transparent;


}
#legend:before{
  content: attr(data-text);
  position: absolute;
  background: linear-gradient(#f70000, #f89200, #f8f501, #038f00,#0168f8, #a200f7);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 0.9;
  clip-path: ellipse(120px 120px at -2.54% -9.25%);
  animation: swing 3s infinite;
  animation-direction: alternate;
}

@keyframes swing{
  0%{
     -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
  }
  50%{
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);

  }
  100%{
     -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }
}



/* *** Animated button *** */

.stretch, .button:after, .button:before {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}    
.button {
  background: #0962EA;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0962EA), color-stop(100%, #0AA0F6));
  background-image: -moz-linear-gradient(left, #0962EA, #0AA0F6);
  background-image: -webkit-linear-gradient(left, #0962EA, #0AA0F6);
  background-image: linear-gradient(to right, #0962EA, #0AA0F6);
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  border: none;
  padding: 20px;
  color: #1b007a;
  font-weight: bold;
  letter-spacing: 0.05em;
  outline: none;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  z-index: 99;
  margin-top: 50px;
}
.button:after {
  -moz-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  -webkit-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  background: #f5f101;
  content: "";
  height: 2px;
  opacity: 0;
}
.button:before {
  content: "";
  opacity: 0;
}
.button:hover {
  -webkit-animation: glitch 750ms infinite;
}
.button:hover:before {
  opacity: 1;
}
.button:hover:after {
  -webkit-animation: scan 2s infinite;
  opacity: 1;
}

@-webkit-keyframes glitch {
  0% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  5% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
    opacity: 0.75;
  }
  10% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  15% {
    -moz-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 0.75;
  }
  20% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  45% {
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    opacity: 0.75;
  }
  50% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  55% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 0.75;
  }
  60% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  75% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  80% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  85% {
    -moz-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    opacity: 0.75;
  }
  90% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  100% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
}
@-webkit-keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 97%;
  }
  100% {
    top: 0%;
  }
}

a:link, a:visited
{
    text-decoration: none;
}